@media (max-width: 900px) {
  * {
    font-size: 8px;
  }

  .feature-section {
    margin-top: 10rem;
  }

  .feature-section .container::before {
    display: none;
  }
  .hero-section-img {
    text-align: center;
  }

  .hero-section .grid--2-cols {
    column-gap: 0;
  }

  .hero-section-img img {
    position: static;
    width: 75%;
  }
}
@media (max-width: 700px) {
  /* NAV MENU JS */
  .main-nav {
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-out;

    /* Hide nav */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    backdrop-filter: blur(10px);
  }

  .main-nav-link {
    color: rgb(44, 37, 37);
  }

  .btn-mobile-nav {
    display: block;
    z-index: 999;
  }

  .icon-close {
    display: none;
  }

  .icon-open {
    display: block;
  }

  .icon-display {
    display: block;
  }
  .icon-hidden {
    display: none;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .main-nav-list {
    gap: 7rem;
    flex-direction: column;
  }

  .main-nav-link {
    font-size: 3.5rem;
  }

  .view-button-white {
    font-size: 3.5rem;
  }
  /* ////////////////////// */

  .hero-section-img img {
    width: 90%;
  }

  .hero-section-text {
    padding-top: 4rem;
  }

  h2 {
    text-align: center;
  }
}

@media (max-width: 550px) {
  .hero-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .hero-section-text {
    margin-right: 2rem;
  }

  h1 {
    font-size: 4.2rem;
    margin-bottom: 2rem;
    line-height: 1.2;
  }

  h2 {
    margin-bottom: 4rem;
    font-size: 3.5rem;
  }

  .feature-section {
    margin-top: 5rem;
    margin-bottom: 7rem;
  }

  .how-section {
    margin-bottom: 7rem;
  }

  .how-section-content {
    flex-direction: column;
    padding: 5rem;
  }

  .how-section-title {
    text-align: center;
    margin-bottom: 3rem;
  }

  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .nav-col {
    margin-bottom: 3rem;
  }

  .nav-col p {
    margin-bottom: 1.5rem;
  }

  .nav-col-links {
    gap: 0.8rem;
  }
}

@media (max-width: 550px) {
  .grid--2-cols {
    grid-template-columns: 1fr;
  }

  .hero-section {
    padding-bottom: 7rem;
  }

  .hero-section-img {
    grid-row: 1 / 2;
  }

  .hero-section-text {
    text-align: center;
    margin: 0 auto;
  }

  .grid--3-cols {
    grid-template-columns: 1fr;
  }

  .feature {
    text-align: center;
    margin-bottom: 4rem;
  }

  h3 {
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    font-size: 2.5rem;
  }

  h2 {
    text-align: center;
  }

  .view-button-white {
    font-size: 2rem;
  }
}
